Chatbot
[{"id":"870c628a.59d59","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cffa54e8.d3fa38","type":"inject","z":"870c628a.59d59","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["6d0d59dd.125678"]]},{"id":"2c22611c.93c8de","type":"debug","z":"870c628a.59d59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":40,"wires":[]},{"id":"6d0d59dd.125678","type":"watson-conversation-v1","z":"870c628a.59d59","name":"Rest ChatBot","workspaceid":"3124ff43-6c30-469e-973e-b9c44b7c6f43","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":270,"y":40,"wires":[["dff2e68c.45dc48"]]},{"id":"dff2e68c.45dc48","type":"function","z":"870c628a.59d59","name":"Bot_output","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":40,"wires":[["2c22611c.93c8de","c34d0576.fb30b8","c3fe2e55.d3efd"]]},{"id":"b78bc2ea.8943e","type":"ui_form","z":"870c628a.59d59","name":"","label":"","group":"b831ad4f.d8804","order":1,"width":0,"height":0,"options":[{"label":"Enter your text","value":"input","type":"text","required":true}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":160,"wires":[["f6071515.9d8598"]]},{"id":"f6071515.9d8598","type":"function","z":"870c628a.59d59","name":"user_input","func":"msg.payload=msg.payload.input\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["6d0d59dd.125678","e3b25479.3fc968"]]},{"id":"e3b25479.3fc968","type":"ui_text","z":"870c628a.59d59","group":"b831ad4f.d8804","order":2,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":280,"wires":[]},{"id":"c34d0576.fb30b8","type":"ui_text","z":"870c628a.59d59","group":"b831ad4f.d8804","order":3,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":220,"wires":[]},{"id":"c3fe2e55.d3efd","type":"ui_audio","z":"870c628a.59d59","name":"","group":"b831ad4f.d8804","voice":"","always":"","x":640,"y":360,"wires":[]},{"id":"36a7a80e.6312a8","type":"visual-recognition-v3","z":"870c628a.59d59","name":"","vr-service-endpoint":"https://gateway-a.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":170,"y":600,"wires":[["8eba3f6a.7f904","90a11977.06bc58"]]},{"id":"33c7c4cf.cd8b6c","type":"fileinject","z":"870c628a.59d59","name":"","x":160,"y":460,"wires":[["36a7a80e.6312a8"]]},{"id":"8eba3f6a.7f904","type":"debug","z":"870c628a.59d59","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":570,"y":520,"wires":[]},{"id":"90a11977.06bc58","type":"image","z":"870c628a.59d59","name":"","width":200,"x":570,"y":580,"wires":[]},{"id":"b831ad4f.d8804","type":"ui_group","z":"","name":"you","tab":"b1074f48.5ec16","disp":true,"width":"6","collapse":false},{"id":"b1074f48.5ec16","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
